<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sign up</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="userHome"> Go Back to your profile </a> | </li>
          </ul>
        </nav>
        <h3 class="text-muted">Delete Account Here</h3>
      </div>

      <div class="jumbotron">

          <h1>Are you sure you want to delete your profile?</h1>

          <p class="lead"></p>
          <form action="{{ url_for('deluser') }}" method="post">
          <button id="btnSignIn" class="btn btn-lg btn-primary btn-success" type="submit">Delete for sure</button>
          </form>

          </p>

      </div>

      <footer class="footer">
        <p>&copy; Company 2019</p>
      </footer>

    </div>
  </body>
</html>
