<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>m2z2</title>
 
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#"> Home </a> |
                    </li>
                    <li role="presentation"><a href="showUsers"> showUsers </a> |
                    </li>
                    <li role="presentation"><a href="showSignUp"> Sign Up </a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">see your chances</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Muksula's Matchmaker</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">

                <p>Find your dating elo.</p>
            </div>

        </div>

        <div class="row marketing">
               <div class="col-lg-6">

                    <h4>Yeet yeet yeet</h4>

                    

             
                  


                </div>
    
            </div>
 
        <footer class="footer">
            <p>&copy; Company 2019</p>
        </footer>
 
    </div>
</body>
 
</html>
