<!doctype html>
<html>
    <head>
        <title>m2z2</title>


        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/signup.css" rel="stylesheet">

      </head>
   <body>

           <ul class="nav nav-pills pull-right">
              <li role="presentation" ><a href="userHome"> View Profile </a> | </li>
            </ul>

          {% if current_user.is_authenticated %}
            Look at all those matches {{ name }}!
          {% endif %}
        <h2>Your matches shown below</h2>

         <table border="1" cellpadding="5" cellspacing="5">
               <tbody>
               {% for item in data %}
               <tr>

                   <!-- change the form contents to match database -->
                   <td>Name: {{item[18]}}</td>
                    <td>Email: {{item[19]}}</td>
                    <td>Height: {{item[7]}}</td>
                    <td>Sex: {{item[15]}}</td>

                    <form action="/message" method="post">
                      <button id="btnSignIn" class="btn btn-lg btn-primary btn-success" name="recipient" type="submit" value= {{item[18]}}> Message </button>
                    </form>

               </tr>
               {% endfor %}
               </tbody>
           </table>

   </body>
</html>
