<!doctype html>
<html>
    <head>
        <title>m2z2</title>


        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/signup.css" rel="stylesheet">

      </head>
   <body>
         <a href = "/">Go back</a>

          <form action="{{ url_for('showMessage') }}" method="get">
          <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Show Message</button>
          </form>

          <div class="jumbotron">
            <h1>Fill out your information below:</h1>
            <form action="{{ url_for('addMessage') }}" method="post">

              <label for="sender_id" class="sr-only">Sender</label>
              <input type="name" name="sender_id" id="sender_id" class="form-control" placeholder="Sender" required autofocus>

              <label for="recipient_id" class="sr-only">Recipient</label>
              <input type="name" name="recipient_id" id="recipient_id " class="form-control" placeholder="recipient" required autofocus>

              <label for="text" class="sr-only">Password</label>
              <input type="name" name="text" id="text" class="form-control" placeholder="Message" required>

              <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Send Message</button>
            </form>

          </div>
      <!-- <h1>Men</h1>
         <table border="1" cellpadding="5" cellspacing="5">
               <tbody>
               {% for item in data %}
               <tr>




                   <td>Name: {{item[0]}}</td>
                    <td>Email: {{item[1]}}</td>
                    <td>Height: {{item[3]}}</td>
                    <td>Sex: {{item[4]}}</td>



               </tr>
               {% endfor %}
               </tbody>
           </table> -->

   </body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <title>sign up</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation" ><a href="/">Home</a> |</li>
              <li role="presentation"><a href="showUsers">Show Users </a> | </li>
              <li role="presentation"><a href="showSignUp">Sign Up </a> | </li>
              <li role="presentation"><a href="showDelete">Delete </a> | </li>
              <li role="presentation"><a href="showModify">Modify | </a></li>
              <li role="presentation" class="active"><a href="#">Messages</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Modify Name Here</h3>
      </div>

      <div class="jumbotron">
        <h1>Fill out your information below:</h1>
        <form action="{{ url_for('moduser') }}" method="post">
          <label for="inputName" class="sr-only">Name</label>
          <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Username" required autofocus>
          <label for="inputEmail" class="sr-only">Name</label>
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
          <label for="inputHeight" class="sr-only">Height(inches)</label>
          <input type="number" name="inputHeight" id="inputHeight" class="form-control" placeholder="Height" required>
          <label for="inputGender" class="sr-only">Gender</label>
          <input type="name" name="inputGender" id="inputGender" class="form-control" placeholder="Gender" required autofocus>
          <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Modify User</button>

        </form>

      </div>



      <footer class="footer">
        <p>&copy; Company 2019</p>
      </footer>

    </div>
  </body>
</html> -->
