<!doctype html>
<html>
    <head>
        <title>m2z2</title>


        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/signup.css" rel="stylesheet">

      </head>
   <body>
         <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="userHome"> Go Back </a> </li>
          </ul>

          <div class="jumbotron">
            <h1>Fill out your information below:</h1>
            <form action="{{ url_for('showMessages') }}" method="post">

              <label for="text" class="sr-only">Message</label>
              <input type="name" name="text" id="text" class="form-control" placeholder="Message" required>

              <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" name="recipient" type="submit" value= {{recipient}}>Send Message</button>
            </form>


            <form action="{{ url_for('showMessages') }}" method="get">
            <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Show Message</button>
            </form>
          </div>

   </body>
</html>
