<!doctype html>
<html>
    <head>
        <title>m2z2</title>


        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/signup.css" rel="stylesheet">

      </head>
   <body>
         <!-- <a href = "/">Go back</a> -->
         {% if current_user.is_authenticated %}
           Look at all those matches {{ name }}!
         {% endif %}
       <h2>Your matches shown below</h2>

        <table border="1" cellpadding="5" cellspacing="5">
              <tbody>
              {% for item in data %}
              <tr>

                  <!-- change the form contents to match database -->
                  <td>Name: {{item[18]}}</td>
                   <td>Email: {{item[19]}}</td>
                   <td>Height: {{item[7]}}</td>
                   <td>Sex: {{item[15]}}</td>

                   <!-- <form action="/message" method="post">
                     <button id="btnSignIn" class="btn btn-lg btn-primary btn-success" name="recipient" type="submit" value= {{item[18]}}> Message </button>
                   </form> -->

              </tr>
              {% endfor %}
              </tbody>
          </table>
          <div class="jumbotron">
            <h1>Fill out your information below:</h1>
            <form action="{{ url_for('addMessage') }}" method="post">
<!-- 
              <label for="sender_id" class="sr-only">Sender</label>
              <input type="name" name="sender_id" id="sender_id" class="form-control" placeholder="Sender" required autofocus> -->

              <label for="recipient_id" class="sr-only">Recipient</label>
              <input type="name" name="recipient_id" id="recipient_id " class="form-control" placeholder="recipient" required autofocus>

              <label for="text" class="sr-only">Password</label>
              <input type="name" name="text" id="text" class="form-control" placeholder="Message" required>

              <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Send Message</button>
            </form>


            <form action="{{ url_for('showMsg') }}" method="get">
            <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Show Message</button>
            </form>
          </div>

   </body>
</html>
