<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sign up</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a> |</li>
            <!-- <li role="presentation"><a href="showUsers">Show Users</a> |</li> -->
            <li role="presentation" class="active"><a href="#">Sign Up | </a></li>
            <!-- <li role="presentation"><a href="showDelete">Delete </a> | </li>
            <li role="presentation"><a href="showModify">Modify </a></li> -->
          </ul>
          
        </nav>
        <h3 class="text-muted">Sign Up Here</h3>
      </div>

      <div class="jumbotron">
        <h1>Fill out your information below:</h1>
        <form action="{{ url_for('adduser') }}" method="post">
          <label for="inputName" class="sr-only">Name</label>
          <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Username" required autofocus>
          <label for="inputEmail" class="sr-only">Name</label>
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
          <label for="inputHeight" class="sr-only">Height(inches)</label>
          <input type="number" name="inputHeight" id="inputHeight" class="form-control" placeholder="Height" required>

          <label for="inputGender" class="sr-only">Gender</label>
          <input type="name" name="inputGender" id="inputGender" class="form-control" placeholder="Gender" required autofocus>
          <label for="inputAge" class="sr-only">age</label>
          <input type="number" name="inputAge" id="inputAge" class="form-control" placeholder="Age" required autofocus>
          <label for="inputEducation" class="sr-only">Education</label>
          <input type="education" name="inputEducation" id="inputEducation" class="form-control" placeholder="Education" required>
          <label for="inputEthnicity" class="sr-only">Ethnicity</label>
          <input type="ethnicity" name="inputEthnicity" id="inputEthnicity" class="form-control" placeholder="Ethnicity" required>   
          <input list="orientation" name="orientation" id="orientation">
            <datalist id="orientation">
              <option value="straight">
              <option value="bi-sexual">
              <option value="pan-sexual">
              <option value="same-sex">
              <option value="Asexual">
            </datalist> 
          <!-- <input type="orientation"  class="form-control" required>       -->
          <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>
        <ul class="nav nav-pills pull-left">
          <li role="presentation"><a href="userHome"> Show User Home </a> </li>
      </ul>
      </div>

      <footer class="footer">
        <p>&copy; Company 2019</p>
      </footer>

    </div>
  </body>
</html>
