<!doctype html>

<html>
    <head>
        <title>m2z2</title>
     
        
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
     
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/signup.css" rel="stylesheet">
        
      </head>
   <body>
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" ><a href="/"> Home </a> |</li>
        <li role="presentation" class="active"><a href="#"> Sign In | </a></li>
        <li role="presentation"><a href="showSignUp">  Sign Up </a></li>
      </ul>
      
    </nav>

    
      {% block body %}
        <h1>Login</h1>
        {% if error %}
          <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <form action="{{ url_for('login') }}" method="post">

            <label for="inputName" class="sr-only">username</label>
            <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Username" required="required" autofocus>
            
            <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required="required">
    
          <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        
        </form>


      {% endblock %}
   </body>
</html>

