<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sign up</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="showUsers">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">sign up here</h3>
      </div>

      <div class="jumbotron">
        <h1>Fill out your information below:</h1>
        <form class="form-signin">

        <label for="inputAge" class="sr-only">Age</label>
        <input type="number" name="inputAge" id="inputAge" class="form-control" placeholder="Age" required autofocus>

        <label for="inputBodyType" class="sr-only">BodyType</label>
        <input type="text" name="inputBodyType" id="inputBodyType" class="form-control" placeholder="Input Body Type" required autofocus>

        <label for="diet" class="sr-only">Diet</label>
        <input type="text" name="diet" id="diet" class="form-control" placeholder="Diet" required>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; Company 2019</p>
      </footer>

    </div>
  </body>
</html>
