<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sign up</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="showUsers">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">sign up here</h3>
      </div>

      <div class="jumbotron">
        <h1>Fill out your information below:</h1>
        <form class="form-signin">

        <label for="inputAge" class="sr-only">Age</label>
        <input type="number" name="inputAge" id="inputAge" class="form-control" placeholder="Age" required autofocus>

        <label for="inputBodyType" class="sr-only">BodyType</label>
        <input type="text" name="inputBodyType" id="inputBodyType" class="form-control" placeholder="Input Body Type" required autofocus>

        <label for="diet" class="sr-only">Diet</label>
        <input type="text" name="diet" id="diet" class="form-control" placeholder="Diet" required>

        <label for="drinks" class="sr-only">Drinks</label>
        <input type="text" name="drinks" id="drinks" class="form-control" placeholder="Drinks" required>

        <label for="education" class="sr-only">Education</label>
        <input type="text" name="education" id="education" class="form-control" placeholder="Education" required>

        <label for="ethnicity" class="sr-only">Ethnicity</label>
        <input type="text" name="ethnicity" id="ethnicity" class="form-control" placeholder="Ethnicity" required>

        <label for="height" class="sr-only">Height</label>
        <input type="number" name="height" id="height" class="form-control" placeholder="Height(inches)" required>

        <label for="ethnicity" class="sr-only">Ethnicity</label>
        <input type="text" name="ethnicity" id="ethnicity" class="form-control" placeholder="Ethnicity" required>

        <label for="income" class="sr-only">Income</label>
        <input type="number" name="income" id="income" class="form-control" placeholder="Income" required>

        <label for="job" class="sr-only">Job</label>
        <input type="text" name="job" id="income" class="form-control" placeholder="Job" required>


        <label for="location" class="sr-only">Location</label>
        <input type="text" name="location" id="income" class="form-control" placeholder="Location" required>


        <label for="offspring" class="sr-only">Offspring</label>
        <input type="number" name="offspring" id="offspring" class="form-control" placeholder="Offspring" required>

        <label for="offspring" class="sr-only">Offspring</label>
        <input type="number" name="offspring" id="offspring" class="form-control" placeholder="Offspring" required>

        <label for="orientation" class="sr-only">Orientation</label>
        <input type="text" name="orientation" id="orientation" class="form-control" placeholder="Orientation" required>


        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; Company 2019</p>
      </footer>

    </div>
  </body>
</html>
